# Enumerate
snippet enu
	\begin{enumerate}
		\item ${1}
	\end{enumerate}

snippet code
	\begin{code}
	procedure ${1} (${2})
		${3}
	\end{code}

snippet align*
	\begin{align*}
	 	${1} &= ${2}
	\end{align*}

snippet frac
	\frac{${1}}{${2}}
